[user]
	name = Dillon Welch
	email = daw0328@gmail.com
[pull]
	rebase = true
[color "status"]
	updated = green
	untracked = yellow
	changed = yellow
[color "diff"]
	old = yellow
[mergetool]
	keepBackup = false
[merge]
	tool = vimdiff
[push]
	default = upstream
[fetch]
	prune = true
[help]
	autocorrect = 1
[core]
	editor = /usr/local/bin/vim
[init]
	templatedir = ~/Code/Work/currica/dotfiles/git/templates
