[user]
	name = Dillon Welch
	email = daw0328@gmail.com
[pull]
	rebase = true
[color "status"]
	updated = green
	untracked = yellow
	changed = yellow
[color "diff"]
	old = yellow
[mergetool]
	keepBackup = false
[merge]
	tool = tortoisemerge
[push]
	default = upstream
[fetch]
	prune = true
